<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            color: #333333;
        }

        h2 {
            color: #007BFF;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .verification-link {
            margin-top: 20px;
        }

        .verification-link a {
            color: #007BFF;
            text-decoration: none;
        }

        .verification-link a:hover {
            text-decoration: underline;
        }

        .footer {
            margin-top: 20px;
            color: #999999;
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2>Notice</h2>
        <p>Hello <%= userName %>, Please log in to <%=userEmail%> back after few days before 
            the period of time will be completed or otherwise we will inform to your respective successor. </p>
        <p class="verification-link"> </p>
        
        <div class="footer">
            <p>Best regards,<br>Please Login</p>
        </div>
    </div>
</body>

</html>